<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinamobile.demo.dao.AMapAOIMapper">
  <resultMap id="BaseResultMap" type="com.chinamobile.demo.entity.AMapAOI">
    <constructor>
      <idArg column="aoi_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="aoi_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="center_lon" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="center_lat" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="area" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="town" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="county" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    aoi_id, aoi_name, address, center_lon, center_lat, area, type1, type2, type3, town, 
    county
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_map_aoi
    where aoi_id = #{aoiId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_map_aoi
    where aoi_id = #{aoiId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chinamobile.demo.entity.AMapAOI">
    insert into t_map_aoi (aoi_id, aoi_name, address, 
      center_lon, center_lat, area, 
      type1, type2, type3, 
      town, county)
    values (#{aoiId,jdbcType=VARCHAR}, #{aoiName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{centerLon,jdbcType=VARCHAR}, #{centerLat,jdbcType=VARCHAR}, #{area,jdbcType=INTEGER}, 
      #{type1,jdbcType=VARCHAR}, #{type2,jdbcType=VARCHAR}, #{type3,jdbcType=VARCHAR}, 
      #{town,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinamobile.demo.entity.AMapAOI">
    insert into t_map_aoi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aoiId != null">
        aoi_id,
      </if>
      <if test="aoiName != null">
        aoi_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="centerLon != null">
        center_lon,
      </if>
      <if test="centerLat != null">
        center_lat,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="type1 != null">
        type1,
      </if>
      <if test="type2 != null">
        type2,
      </if>
      <if test="type3 != null">
        type3,
      </if>
      <if test="town != null">
        town,
      </if>
      <if test="county != null">
        county,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aoiId != null">
        #{aoiId,jdbcType=VARCHAR},
      </if>
      <if test="aoiName != null">
        #{aoiName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="centerLon != null">
        #{centerLon,jdbcType=VARCHAR},
      </if>
      <if test="centerLat != null">
        #{centerLat,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=INTEGER},
      </if>
      <if test="type1 != null">
        #{type1,jdbcType=VARCHAR},
      </if>
      <if test="type2 != null">
        #{type2,jdbcType=VARCHAR},
      </if>
      <if test="type3 != null">
        #{type3,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinamobile.demo.entity.AMapAOI">
    update t_map_aoi
    <set>
      <if test="aoiName != null">
        aoi_name = #{aoiName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="centerLon != null">
        center_lon = #{centerLon,jdbcType=VARCHAR},
      </if>
      <if test="centerLat != null">
        center_lat = #{centerLat,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="type1 != null">
        type1 = #{type1,jdbcType=VARCHAR},
      </if>
      <if test="type2 != null">
        type2 = #{type2,jdbcType=VARCHAR},
      </if>
      <if test="type3 != null">
        type3 = #{type3,jdbcType=VARCHAR},
      </if>
      <if test="town != null">
        town = #{town,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
    </set>
    where aoi_id = #{aoiId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinamobile.demo.entity.AMapAOI">
    update t_map_aoi
    set aoi_name = #{aoiName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      center_lon = #{centerLon,jdbcType=VARCHAR},
      center_lat = #{centerLat,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      type1 = #{type1,jdbcType=VARCHAR},
      type2 = #{type2,jdbcType=VARCHAR},
      type3 = #{type3,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR}
    where aoi_id = #{aoiId,jdbcType=VARCHAR}
  </update>
</mapper>