<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinamobile.demo.dao.NetworkCableMapper">
  <resultMap id="BaseResultMap" type="com.chinamobile.demo.entity.NetworkCable">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="district" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cable_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="longitude" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="latitude" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, district, cable_name, type, longitude, latitude
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_network_cable
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_network_cable
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chinamobile.demo.entity.NetworkCable">
    insert into t_network_cable (id, district, cable_name, 
      type, longitude, latitude
      )
    values (#{id,jdbcType=INTEGER}, #{district,jdbcType=VARCHAR}, #{cableName,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinamobile.demo.entity.NetworkCable">
    insert into t_network_cable
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="cableName != null">
        cable_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="cableName != null">
        #{cableName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinamobile.demo.entity.NetworkCable">
    update t_network_cable
    <set>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="cableName != null">
        cable_name = #{cableName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinamobile.demo.entity.NetworkCable">
    update t_network_cable
    set district = #{district,jdbcType=VARCHAR},
      cable_name = #{cableName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCableListByPosition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_network_cable
    where (CAST(longitude AS DOUBLE) between #{swLng} and #{neLng}) and
          (CAST(latitude AS DOUBLE) between #{swLat} and #{neLat})
  </select>
  <select id="selectCableByPosition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_network_cable
    where CAST(longitude AS DOUBLE) = #{lng} and CAST(latitude AS DOUBLE) = #{lat}
  </select>
</mapper>