<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinamobile.demo.dao.NetworkResourceMapper">
  <resultMap id="BaseResultMap" type="com.chinamobile.demo.entity.NetworkResource">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="district" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="resource_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="longitude" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="latitude" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="aoi_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, district, resource_name, longitude, latitude, aoi_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_network_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_network_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chinamobile.demo.entity.NetworkResource">
    insert into t_network_resource (id, district, resource_name, 
      longitude, latitude, aoi_id
      )
    values (#{id,jdbcType=INTEGER}, #{district,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{aoiId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chinamobile.demo.entity.NetworkResource">
    insert into t_network_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="resourceName != null">
        resource_name,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="aoiId != null">
        aoi_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null">
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="aoiId != null">
        #{aoiId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinamobile.demo.entity.NetworkResource">
    update t_network_resource
    <set>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null">
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="aoiId != null">
        aoi_id = #{aoiId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinamobile.demo.entity.NetworkResource">
    update t_network_resource
    set district = #{district,jdbcType=VARCHAR},
      resource_name = #{resourceName,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      aoi_id = #{aoiId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectResourceListByPosition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_network_resource
    where (CAST(longitude AS DOUBLE) between #{swLng} and #{neLng}) and
    (CAST(latitude AS DOUBLE) between #{swLat} and #{neLat})
  </select>
  <select id="selectResourceByPosition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_network_resource
    where CAST(longitude AS DOUBLE) = #{lng} and CAST(latitude AS DOUBLE) = #{lat}
  </select>
  <select id="selectResourceListByAOI" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_network_resource
    where aoi_id = #{aoiId}
  </select>
  <select id="selectResourceNumByAOI" resultType="java.lang.Integer">
    select
      count(*)
    from t_network_resource
    where aoi_id = #{aoiId}
  </select>
</mapper>